/* Color Theme Swatches in Hex */
.Preppy-Business-1-hex { color: #B2A378; }
.Preppy-Business-2-hex { color: #26364F; }
.Preppy-Business-3-hex { color: #DAD9DF; }
.Preppy-Business-4-hex { color: #3DA4CF; }
.Preppy-Business-5-hex { color: #FFFFFF; }

.instructions{
    text-align: center;
    background-color: #B2A378;
    padding:1%;
}

.flex-container {
    display: flex;
    background-color: #26364F;
    padding: 1%;
}

.flex-child {
    flex: 1;
    margin: 1%;
    background-color: #DAD9DF; 
    padding: 1%;    
    border: 2px solid #26364F;
}  

.flex-child:first-child {
    background-color:#DAD9DF;
} 

label{
    padding-left: 5%;
    padding-right: 1%;
    line-height: 40px;
    
}
button {
    position: relative;
    display: block;
    width: 150px;
    height: 36px;
    border-radius: 18px;
    background-color: #B2A378;
    border: solid 1px transparent;
    color: #26364F;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 70%;
    transition: all .1s ease-in-out;
}

button:hover {
    background-color: #26364F;
    border-color: #26364F;
    color: #FFFFFF;
    transition: all .1s ease-in-out;
}

.output{
    background-color: #DAD9DF;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    padding-left: 1%;

}
.table{
    display: flex;
    padding: 1%;
    background-color: #3DA4CF;
    width:auto;
    height:138px;

}

